.cimg {
    max-width: 100%;
}

.ccnt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.slide blockquote.big {
    font-size: 38px;
}

.slide blockquote:before {
    font-size: 4em;
}

figcaption {
    text-align: right;
    font-style: italic;
}

.akita {
    max-width: 200px;
}

.akita-example {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.akita-code {
    max-width: 680px;
}

.commit-strip-regexp {
    max-width: 400px;
}